.photo img:hover {
    padding: 10px;
    width: 100%;
    display: flex;
    transition: 0.5s;
    box-shadow: black;
}

.photo {
    margin-top: 40px;

}

.ph {
    margin-left: 510px;
    display: inline-block;
    margin-bottom: 0;
    letter-spacing: 100px;
    width: 58%;

}

body,
html {
    background: #fff2f4;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    letter-spacing: 0.65px;
    font-size: 15px;
    color: black;

}

.navbar-nav {
    color: white;
    justify-content: center;
    width: 800px;
}

.last {
    color: black;
    border-radius: 10px;
    background-color: #efbfc6;
    border-width: 100px;

}

a {
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: black;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

.resume {
    width: 870px;
    background: #fbfbfb;
    margin: 20px auto;
    border: 1px solid #bbb;
    border-radius: 20px;
    box-shadow: 0 0 20px -3px rgb(0, 0, 0);
    position: relative;
    display: flex;
}


.resume .base {
    width: 225px;
    padding: 30px 15px;
    background: rgba(255, 210, 210, 0.6);
    border-radius: 20px;
}

.resume .base .profile {
    background: #84243b;
    padding: 30px 15px 5px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    border-radius: 8px;
    z-index: 2;
}

.resume .base .profile::after {
    content: "";
    position: absolute;
    background: #84243b;
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -2;
}

.resume .base .profile .info {
    text-align: center;
    color: #fcfcfc;
}

.resume .base .profile .info .name {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.resume .base .contact div span:hover {
    content: "";
    background: #efbfc6;
    transition-duration: 0.3s;
    color: #84243b;
}

.homa {
    margin-top: 20px;
}

.contact:hover {
    color: #84243b;
    transition: 1s;
}

.contact a {
    color: black;
}

.resume .func {
    width: 645px;
    padding: 30px 25px;
}

.resume .func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

.resume .func .work,
.resume .func .edu {
    margin-top: 50px;
    float: left;
    text-align: left;
}

.resume .func .work small,
.resume .func .edu small {
    display: block;
    opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .edu ul li {
    position: relative;
    padding-bottom: 15px;
    text-align: left;
}

.resume .func:hover>div {
    transition-duration: 0.3s;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
    color: #84243b;
}

.resume .func .work ul li::after,
.resume .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #3d405b;
    left: 5px;
    top: 0;
}

.resume .func .work ul li span,
.resume .func .edu ul li span {
    transition-duration: 0.3s;
}

.resume .func .work {
    width: 42%;
}

.resume .func .edu {
    width: 58%;
}

/*--------------SKILLS--------------*/

.resume .func .skills-prog {
    clear: both;
}

.resume .func .skills-prog ul {
    margin-left: 15px;
}

.resume .func .skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;

}

.resume .func .skills-prog ul li:hover {
    color: #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .HTML {

    width: calc(100% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .CSS {
    width: calc(90% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .Java {
    width: calc(90% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .C {
    width: calc(70% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .CCC {
    width: calc(70% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .python {
    width: calc(100% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li:hover .skills-bar .sql {
    width: calc(50% - 120px);
    box-shadow: 0 0 0 1px #84243b;
}

.resume .func .skills-prog ul li span {
    display: block;
    width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
    background: #cdcdcd;
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
}

/*--------------SKILLS--------------*/

/* --------------INTEREST--------------*/

.resume .func .interests-items {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: 1px solid #cdcdcd;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.resume .func .interests-items div {
    display: inline-block;
    width: 80px;
    height: 80px;
}


.resume .func .interests-items div:hover {
    color: #84243b;
    transition-duration: 0.3s;
}

.resume .func .interests-items .mic:hover {

    margin-top: 5px;
    color: #84243b;

}

.resume .func .interests-items .guitar:hover {

    margin-top: 5px;
    color: #84243b;

}

.resume .func .interests-items .piano:hover {

    margin-top: 5px;
    color: #84243b;

}

.resume .func .interests-items .music:hover {

    margin-top: 5px;
    color: #84243b;

}

.resume .func .interests-items .game:hover {

    margin-top: 5px;
    color: #84243b;

}


.resume .func .interests-items div span {
    display: block;
}

/* --------------INTEREST--------------*/

/* --------------ACCOUNTS--------------*/
.resume .func .accounts {
    padding: 15px;
    width: 100%;
    text-align: center;
    display: flex;

}

.resume .func .accounts div {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.resume .func .accounts div:hover {
    color: #ffb6b9;
    transition-duration: 0.3s;
}

.resume .func .accounts .github:hover {
    margin-top: 5px;
    color: #ffb6b9;

}

.resume .func .accounts .twitter:hover {

    margin-top: 5px;
    color: #ffb6b9;

}

.resume .func .accounts .linkedin:hover {

    margin-top: 5px;
    color: #ffb6b9;

}

.resume .func .accounts .instagram:hover {

    margin-top: 5px;
    color: #ffb6b9;

}

.resume .func .accounts div span {
    display: block;
}

/* --------------ACCOUNTS--------------*/